# git merge files
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# User-specific files
*.suo
*.user
*.cache
*.orig
*.udt

# Build Folders
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Bb]uild/
[Rr]elease/

# Project related
packages/
App_Data/

# Website
Source/Our.Umbraco.HideProperties.Website/

# Packaging
Source/.vs/config/applicationhost.config
Packaging/NugetBuild/
Packaging/Package/
Packaging/UmbracoBuild/
artifacts/

.vs