<div ng-controller="HideProperties.DashboardController">
    <umb-load-indicator ng-if="isLoading"></umb-load-indicator>

    <umb-editor-sub-header ng-if="!isLoading && content.rules.length > 0">
        <umb-editor-sub-header-content-left>
            <umb-editor-sub-header-section ng-if="!isAnythingSelected()">
                <umb-button type="button" label-key="@hideProperties_createRule" action="openRuleBuilderOverlay()" disabled="actionInProgress" />
            </umb-editor-sub-header-section>
            <umb-editor-sub-header-section ng-if="isAnythingSelected()">
                <umb-button type="button" label="Clear selection" label-key="buttons_clearSelection" action="clearSelection()" disabled="actionInProgress" />
            </umb-editor-sub-header-section>
        </umb-editor-sub-header-content-left>

        <umb-editor-sub-header-content-right>
            <!-- Search -->
            <umb-editor-sub-header-section ng-if="!isAnythingSelected()">
                <umb-button type="button" ng-if="showExportButton" button-style="link" label="Export rules" label-key="hideProperties_exportRules" action="exportRules()" icon="icon-box" disabled="actionInProgress" />

                <umb-button type="button" ng-if="showImportButton" button-style="link" label="Import rules" label-key="hideProperties_importRules" action="importRules()" icon="icon-box-open" disabled="actionInProgress" />

                <form class="form-search -no-margin-bottom pull-right" novalidate>
                    <div class="inner-addon left-addon">
                        <i class="icon icon-search"></i>
                        <input class="form-control search-input" type="text" localize="placeholder" placeholder="@general_typeToSearch" ng-model="content.filterTerm" umb-auto-focus no-dirty-check>
                    </div>
                </form>
            </umb-editor-sub-header-section>

            <umb-editor-sub-header-section ng-if="isAnythingSelected()">
                <umb-button type="button" button-style="link" label="Enable rules" label-key="hideProperties_enableRules" action="changeActiveState(true)" icon="icon-notepad-alt" disabled="actionInProgress" />

                <umb-button type="button" button-style="link" label="Disable rules" label-key="hideProperties_disableRules" action="changeActiveState(false)" icon="icon-block" disabled="actionInProgress" />

                <umb-button type="button" button-style="link" label="Delete rules" label-key="hideProperties_deleteRules" action="deleteRules()" icon="icon-trash" disabled="actionInProgress" />
            </umb-editor-sub-header-section>
        </umb-editor-sub-header-content-right>
    </umb-editor-sub-header>

    <div class="umb-table  -content" ng-if="!isLoading && content.rules.length > 0">
        <div class="umb-table-head">
            <div class="umb-table-row">
                <div class="umb-table-cell">
                    <input class="umb-table__input" type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()">
                </div>
                <div class="umb-table-cell umb-table__name">
                    <localize key="hideProperties_contentType">Content Type</localize>
                </div>
                <div class="umb-table-cell">
                    <localize key="hideProperties_tabs">Tabs</localize>
                </div>
                <div class="umb-table-cell">
                    <localize key="hideProperties_properties">Properties</localize>
                </div>
                <div class="umb-table-cell">
                    <localize key="hideProperties_userGroups">User groups</localize>
                </div>
            </div>
        </div>
        <div class="umb-table-body">
            <div class="umb-table-row" ng-repeat="rule in content.rules | filter:content.filterTerm" ng-click="selectItem(rule, $event)" ng-class="{'-selected':rule.isSelected, '-unpublished': !rule.isActive }">
                <div class="umb-table-cell">
                    <i class="umb-table-body__icon umb-table-body__fileicon icon-notepad-alt"></i>
                    <i class="umb-table-body__icon umb-table-body__checkicon icon-check"></i>
                </div>
                <div class="umb-table-cell umb-table__name">
                    <a title="{{ rule.contentTypeAlias }}" class="umb-table-body__link" href="" ng-click="openRuleBuilderOverlay(rule); $event.stopPropagation();" ng-bind="rule.contentTypeAlias">
                    </a>
                </div>
                <div class="umb-table-cell">
                    <span title="{{rule.tabs.join(', ')}}">
                        {{rule.tabs.join(', ')}}
                    </span>
                </div>
                <div class="umb-table-cell">
                    <span title="{{rule.properties.join(', ')}}">
                        {{rule.properties.join(', ')}}
                    </span>
                </div>
                <div class="umb-table-cell">
                    <span title="{{rule.userGroups.join(', ')}}">
                        {{rule.userGroups.join(', ')}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <umb-empty-state ng-if="content.rules.length === 0" position="center">
        <p>
            <localize key="hideProperties_noRules">Please, create some rules</localize>
        </p>
        <umb-button type="button" label-key="@hideProperties_createRule" action="openRuleBuilderOverlay()" />
    </umb-empty-state>

    <umb-overlay ng-if="ruleBuilderOverlay.show" model="ruleBuilderOverlay" view="ruleBuilderOverlay.view" position="right" />
</div>