<div ng-controller="HideProperties.RuleBuilderOverlayController">

    <umb-load-indicator ng-if="isLoading" />

    <ng-form name="ruleBuilderForm">
        <umb-control-group label="@hideProperties_contentType" description="@hideProperties_contentTypeDescription" ng-if="!isLoading">
            <umb-node-preview ng-if="content.selectedContentType" name="content.selectedContentType.name" icon="content.selectedContentType.icon" allow-remove="true" on-remove="removeContentType()" />
            <a href="javascript:;" ng-if="!content.selectedContentType" class="umb-node-preview-add" ng-click="openContentTypePickerOverlay()" prevent-default>
                <localize key="general_add">Add</localize>
            </a>
        </umb-control-group>

        <umb-control-group label="@hideProperties_tabs" description="@hideProperties_tabsDescription" ng-if="!isLoading && content.selectedContentType">
            <umb-node-preview ng-repeat="tab in content.selectedTabs" name="tab.name" icon="icon-tab" allow-remove="true" on-remove="removeTab(tab)" />
            <a href="javascript:;" class="umb-node-preview-add" ng-click="openTabPickerOverlay()" prevent-default>
                <localize key="general_add">Add</localize>
            </a>
        </umb-control-group>

        <umb-control-group label="@hideProperties_properties" description="@hideProperties_propertiesDescription" ng-if="!isLoading && content.selectedContentType">
            <umb-node-preview ng-repeat="property in content.selectedProperties" name="property.label" description="getGroupName(property.groupId)" icon="icon-autofill" allow-remove="true" on-remove="removeProperty(property)" />
            <a href="javascript:;" class="umb-node-preview-add" ng-click="openPropertyPickerOverlay()" prevent-default>
                <localize key="general_add">Add</localize>
            </a>
        </umb-control-group>

        <umb-control-group label="@hideProperties_userGroups" description="@hideProperties_userGroupsDescription" ng-if="!isLoading && content.selectedContentType">
            <umb-node-preview ng-repeat="userGroup in content.selectedUserGroups" name="userGroup.name" icon="icon-member" allow-remove="true" on-remove="removeUserGroup(userGroup)" />
            <a href="javascript:;" class="umb-node-preview-add" ng-click="openUserGroupPickerOverlay()" prevent-default>
                <localize key="general_add">Add</localize>
            </a>
        </umb-control-group>

        <input type="hidden" name="selectedContentType" ng-model="content" />

        <input type="hidden" name="selectedTabsOrProperties" ng-model="content" />

        <input type="hidden" name="selectedUserGroups" ng-model="content" />

        <div class="help-inline" val-msg-for="selectedContentType" val-toggle-msg="selectedContentType">
            <localize key="hideProperties_noContentTypeSelected">Please, select a content type</localize>
        </div>
        <div class="help-inline" val-msg-for="selectedTabsOrProperties" val-toggle-msg="selectedTabsOrProperties">
            <localize key="hideProperties_noTabsOrPropertiesSelected">Please, select one or more tabs or properties</localize>
        </div>
        <div class="help-inline" val-msg-for="selectedUserGroups" val-toggle-msg="selectedUserGroups">
            <localize key="hideProperties_noUserGroupsSelected">Please, select one or more user groups</localize>
        </div>
    </ng-form>

    <umb-overlay ng-if="contentTypePickerOverlay.show" model="contentTypePickerOverlay" view="contentTypePickerOverlay.view" position="right" />

    <umb-overlay ng-if="tabPickerOverlay.show" model="tabPickerOverlay" view="tabPickerOverlay.view" position="right" />

    <umb-overlay ng-if="propertyPickerOverlay.show" model="propertyPickerOverlay" view="propertyPickerOverlay.view" position="right" />

    <umb-overlay ng-if="userGroupPickerOverlay.show" model="userGroupPickerOverlay" view="userGroupPickerOverlay.view" position="right" />
</div>